/*-----------Chrome Extension---------*/

body
{
	padding: 10px;
	font-family: Arial;
	min-width: 400px;
}

input
{
	padding: 10px 10px 10px 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #5f9431;
	margin-bottom: 5px;

}

button
{
	background-color: #5f9431;
	color: white;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	border: 1px solid #5f9431;
}

#delete-btn
{
	background-color: white;
	color:#5f9431;
}

ul
{
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}

li
{
	margin-top: 5px;
}

li a
{
	color:#5f9431 ;
}
